.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Gradle """
!**/.gradle
!**/.build
!**/gradle
!**/gradlew

### VS Code ###
.vscode/

### API Key Holder ###
HooHacks25/src/main/java/APIKey.java