.idea/
.idea/misc.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Gradle """
!**/.gradle
HooHacks25/.gradle
!**/.build
HooHacks25/.build
HooHacks25/build

!**/gradle
HooHacks25/gradle

!**/gradlew
HooHacks25/gradlew

### VS Code ###
.vscode/

### API Key Holder ###
HooHacks25/src/main/java/APIKey.java